
  <!-- Header -->
  <mat-toolbar class="app-toolbar">
    <div class="toolbar">
      <!-- Wenn du kein Menü mehr brauchst, Button raus -->
      <a [routerLink]="['/start']" class="brand">
        <img src="/images/Logo-v4.svg" alt="Logo" />
      </a>
    </div>

    <div class="toolbar-icons">
      <button mat-icon-button [routerLink]="['/start']" aria-label="Start">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button aria-label="Profil" >
        <mat-icon>event</mat-icon>
      </button>
      <button mat-icon-button aria-label="Einstellungen" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="below">
  <app-user-menu></app-user-menu>
</mat-menu>

  </mat-toolbar>


  <!-- Scroll-Container: nur hier wird gescrollt -->
  <main class="app-content" >
    <router-outlet></router-outlet>
  </main>


  <!-- Bottom Navigation -->
  <nav class="bottom-nav" role="navigation" aria-label="Hauptnavigation">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>home</mat-icon><span>Start</span>
    </a>
    <a [routerLink]="['/farrier']"  routerLinkActive="active">
      <mat-icon>build</mat-icon><span>Schmied</span>
    </a>
    <a [routerLink]="['/vaccination']"   routerLinkActive="active">
      <mat-icon>vacciness</mat-icon><span>Gesundheit</span>
    </a>
    <a [routerLink]="['/feed']"  routerLinkActive="active">
      <mat-icon>warehouse</mat-icon><span>Futterbestand</span>
    </a>
    <button type="button" class="nav-btn" (click)="openMore()" aria-label="Mehr" [class.active]="isMoreActive">
  <mat-icon>more_horiz</mat-icon><span>Mehr</span>
</button>


  </nav>


