$accent: #e86daf;
$surface: #eef1f7;  // helles Grau/Lavendel wie im Shot
$border: #d9dbe3;

:host { display:block; }
.dialog-title{
  display:flex; align-items:center; justify-content:space-between; margin-top: 20px; margin-bottom: 10px;
  .title-wrap{display:flex; align-items:center; gap:12px;}
  .avatar{width:38px;height:38px;border-radius:50%;display:grid;place-items:center;
    background:rgba($accent,.12);color:$accent;}
  
}

/* Einspaltig + max Breite */
.kf-form.one-col{
  display:grid; grid-template-columns:1fr; gap:0px;
  max-width:400px; /* Dialogbreite */
}
.full{ grid-column:1 / -1; }

/* Dropdown im Header-Stil (nur hier!) */
.header-select .mat-mdc-text-field-wrapper{
  background:$surface !important;
  border-radius:16px !important;
  /* Outline/Unterstreichung bei "fill" ausblenden */
  &::after{ display:none; }
}
.header-select .mat-mdc-form-field-infix{ padding-top:18px; }



/* Normale (weiße) Outlines */
mat-form-field[appearance="outline"] .mat-mdc-text-field-wrapper{
  border-radius:12px;
}
mat-form-field[appearance="outline"] .mdc-notched-outline__leading,
mat-form-field[appearance="outline"] .mdc-notched-outline__notch,
mat-form-field[appearance="outline"] .mdc-notched-outline__trailing{
  border-color:$border;
}

/* Radio untereinander */
.field-group{ display:grid; gap:6px; margin-bottom: 10px; }
.group-label{  color:#555; }
.radio-col{ display:grid; gap:6px; }


.unit{ opacity:.75;
margin-right: 20px; }

/* Buttons */
.dialog-actions{ gap:8px; }
.dialog-actions button mat-icon{ margin-right:6px; }
