<mat-tab-group>
    <mat-tab *ngFor="let horse of horses" label="{{ horse.name }}">
        <div class="horse-card">
            <h2>🐴 {{ horse.name }} ({{ horse.age }} Jahre, {{ horse.gender }})</h2>

            <div *ngFor="let entry of horse.farrierEntries" class="farrier-card">
                <p><strong>🔨 {{ entry.type }}</strong></p>
                <p>📅 Datum: {{ entry.date }}</p>
                <p *ngIf="entry.comment">📝 Kommentar: {{ entry.comment }}</p>

                <!-- Hufeisen-Icons -->
                <div class="hoof-icons">
                    <ng-container *ngFor="let pos of ['VL', 'VR', 'HL', 'HR']">
                        <mat-icon [ngClass]="isHoofActive(entry, pos) ? 'hoof-active' : 'hoof-inactive'" [attr.title]="pos">
                            circle
                        </mat-icon>
                    </ng-container>


                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>