.horse-card {
  padding: 1rem;
}

.farrier-card {
  margin: 1rem 0;
  padding: 1rem;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



.hoof-active {
  color: #ec4899; /* Tailwind pink-500 */
}

.hoof-inactive {
  color: #d1d5db; /* Tailwind gray-300 */
}
