
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    
    <div class="btn-box">
        <button mat-raised-button color="primary" (click)="openFarrierDialog()" class="cta-btn"><mat-icon>add2</mat-icon>Beschlag hinzufügen</button>
    </div>

    

    

    <!-- Jahr-Auswahl oben -->
<div class="year-filter">
  <mat-form-field >
    <mat-label>Jahr auswählen</mat-label>
    <mat-select [(value)]="selectedYear" panelClass="open-down">
      <mat-option *ngFor="let y of availableYears" [value]="y">
        {{ y === 'all' ? 'Alle Jahre' : y }}
    </mat-option>
    </mat-select>
  </mat-form-field>
</div>


    <mat-tab-group>
        <mat-tab *ngFor="let horse of horses; let i = index" label="{{ horse.name }}">
            <div class="horse-card">
                <div class="horse-title-box">
                    <img src="/images/horse.svg" alt="{{ horse.name }}" class="horse-img">
                <h3>{{ horse.name }}</h3>
                </div>

                <div *ngFor="let entry of filteredFarrierEntries(horse)" class="farrier-card">
                    <div class="farrier-card-header">
                        <p><strong>🔨 {{ entry.type }}</strong></p>
                        <div class="info-card-actions">
                            <button mat-icon-button color="primary" (click)="editEntry(horse._id!, i, entry)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteEntry(horse._id!, i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <p>Datum: {{ entry.date }}</p>
                    <p *ngIf="entry.comment" class="note">Notiz: {{ entry.comment }}</p>

                    <!-- Hufeisen-Icons -->
                    <div class="hoof-icons">
                        <ng-container *ngFor="let pos of hoofPositions">
                            <mat-icon [ngClass]="getHoofClass(entry, pos)" [attr.title]="pos">
                                circle
                            </mat-icon>

                        </ng-container>
                    </div>


                    <!-- Detaillierte Infos zu jedem behandelten Huf -->
                    <div class="hoof-details">
                        <div *ngFor="let hoof of entry.hooves" class="hoof-detail-card">
                            <div>
                                <p><strong>{{ hoof.position }}</strong> –
                                    <span *ngIf="hoof.action === 'ausgeschnitten'">Ausgeschnitten</span>
                                    <span *ngIf="hoof.action === 'beschlagen-alt'">Beschlagen (alte Eisen)</span>
                                    <span *ngIf="hoof.action === 'beschlagen-neu'">Beschlagen (neue Eisen)</span>
                                </p>
                            </div>
                            <div>
                                <img src="/images/shoe-new.svg" style="width: 25px;"
                                    *ngIf="hoof.action === 'beschlagen-neu'">
                                <img src="/images/shoe-old.svg" style="width: 25px;"
                                    *ngIf="hoof.action === 'beschlagen-alt'">
                                <img src="/images/knife.svg" style="width: 25px;"
                                    *ngIf="hoof.action === 'ausgeschnitten'">



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

