<body>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<div class="feed-container">

  <!-- Heu Card -->
  <mat-card class="feed-card">
    <h2>Heu</h2>
    <div class="feed-value">
        {{ hayCurrent }} / {{ hayMax }}
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="(hayCurrent / hayMax) * 100">
    </mat-progress-bar>
  </mat-card>

  <!-- Stroh Card -->
  <mat-card class="feed-card">
    <h2>Stroh</h2>
    <div class="feed-value">{{ strawCurrent }} / {{ strawMax }}</div>
    <mat-progress-bar
      mode="determinate"
      color="warn"
      [value]="(strawCurrent / strawMax) * 100">
    </mat-progress-bar>
  </mat-card>

</div>

<!-- Buttons unter den Cards -->
<div class="feed-actions">
  <button mat-raised-button color="primary" class="add-btn" (click)="openAddDialog()"><mat-icon>add2</mat-icon>Hinzufügen</button>
  <button mat-raised-button color="accent" class="add-btn" (click)="openConsumeDialog()"><mat-icon>remove</mat-icon>Verbrauch</button>
</div>


<!-- Jahr-Auswahl oben -->
<div class="year-filter">
  <mat-form-field >
    <mat-label>Jahr auswählen</mat-label>
    <mat-select [(value)]="selectedYear" panelClass="open-down">
      <mat-option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>



<!-- Verlauf / History -->
<div class="history-container">
<div *ngFor="let log of filteredFeedLog()" class="feed-log-card">
  <div class="feed-header">
    <div class="feed-icon-box">
    <img [src]="'/images/' + log.type + 'Icon.svg'" alt="{{ log.type }}" class="feed-icon"/>
    <h3>{{ log.type | titlecase }}</h3>
    </div>
    <span class="action-icon" [ngClass]="log.action">
      {{ log.action === 'add' ? '+' : '−' }}
    </span>
  </div>

  <hr [ngClass]="log.action">

  <p class="history-date">{{ log.date | date:'dd.MM.yyyy' }}</p>

  <div class="feed-content">
    <div class="feed-infos">

  <div class="feed-amount">
    <strong>{{ log.amount }}</strong> Ballen
  </div>

    <!-- Preis nur anzeigen, wenn vorhanden -->
    <div class="feed-price" *ngIf="log.action === 'add' && log.price">
  Preis: {{ log.price | currency:'EUR' }}
</div>


  <span class="feed-action">
    {{ log.action === 'add' ? 'Eingelagert' : 'Verbraucht' }}
  </span>
  </div>

  <!-- Footer mit Buttons -->
  <div class="feed-card-actions">
    <button mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  </div>
</div>
</div>

</body>

