

.container {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.btn-box {
  margin-bottom: 15px;
}


hr {
  border-top: 2px solid #ec4899;
}


.horse-card {
  margin-bottom: 2rem;
  padding: 1rem;
}

.vaccination-card {
  margin: 1rem 0;
  padding: 1rem;
  background: #f8f9fa;
  border-radius: 8px;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Statusfarben */
.geimpft .status {
  color: green;
  font-weight: bold;
}

.überfällig .status {
  color: red;
  font-weight: bold;
}
